.breadCrumbsContainer{
    width: 100%;
    padding: 20px;
    color: #5078E1;
}

.breadcrumb{
    color: #5078E1;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

}

.breadcrumbSeparator{
    font-size: 14px;
}