.createQuotationContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: 
}

.createQuotationContainer .topBar{
    background-color: #ffffff;
    box-shadow:0px 0.5px 5px rgba(133, 133, 133, 0.438); 
    height: 50px;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.topBar .backIconContainer{
    background-color: #e4e8ee;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.topBar .sectionInfoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sectionInfoContainer .sectionName { 
font-size: large;

}

.organizationSelectContainer{
    width: 230px;
}

.createQuotationContentContainer {
    width: 100%;
    background-color: #f4f6f9;
    padding: 20px;
    flex: 1;
}


.quotationContainer{
    background-color: white;
    display: flex;
    height: 100%;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.224);
    border-radius: 10px;
    
}

.breadCrumbContainer{
    border-bottom: solid rgba(128, 128, 128, 0.253) 0.5px;

}

.sectionTitle{
     color: rgba(128, 128, 128, 1);
     font-weight: bold;
}

.estateInfoContainer{
    display: grid;
    grid-template-columns: 27.5% 45% 27.5%;
    flex: 1;
}

.estateInfoContainer>div{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.unitDetailsContainer{
    background-color: #f6f8fa;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.cancelCreateQuotationContainer{
    display: flex;
    gap: 10px;
}
.leadDetailsCardContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: solid rgba(128, 128, 128, 0.253) 1.5px;
    border-radius: 5px;
}

.leadDetailsCardContainer .nameAndChipContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.leadDetailsCardContainer .leadContactInfo{
    display: flex;
    align-items: center;
    color: #525e6f;
    font-size: 12px;
    gap: 10px;
}

.leadOnlyDetailsContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.circleIcon{
    font-size: 7px;
    color: #ced3dd;
}

.leadContainer .horizontalLine{
    border-bottom: solid rgba(128, 128, 128, 0.253) 0.5px;

}

.quotationDetailsUnderLeadContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    row-gap: 20px;
    font-size: 14px;
}

.quotationDetailsUnderLeadContainer>div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
    color: black;
}
.quotationDetailsUnderLeadContainer .title{
    font-size:12px;
    color: #98A0AC;
}
.graceperiodBracket{
    color: #98A0AC;

}

.unitsGridContainer{
    overflow: scroll;
    height: 100%;
}